<!DOCTYPE html>
<!-- Hey my name is Alex Louizos.  I love people taking a curious look into things. If you are like me and like making things possible you should join our team and help us fulfill our mission of using technology to save lives. Contact me at alouisos@gmail.com  Ps: if you keep searching the code you may be able to find more easter eggs...well, instead of keep searching it why don't you come with us to change the world?-->
<html xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <meta charset="utf-8">
    <title>Cambridge Clinical Trials Unit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/wf.css">
    <link rel="stylesheet" type="text/css" href="css/genetium.css">
<link type="text/css" rel="stylesheet" href="css/rickshaw.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
<script src="js/d3.layout.js"></script>
<script src="js/rickshaw.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/responsiveslides.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
 
$(document).ready(function(){
 
        $(".slidingDiv").hide();
        $(".show_hide").show();
 
    $('.show_hide').click(function(){
    $(".slidingDiv").slideToggle();
    });
 
});
 
</script>

        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, print"/>
 <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/responsiveslides.min.js"></script>
<script>
$(document).ready(function(){
  $("#hide").click(function(){
    $("p").hide();
  });
  $("#show").click(function(){
    $("p").show();
  });
});
</script>
  
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/navbar/navbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/login.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Montserrat:400,700","Bitter:400,700"]
        }
      });
    </script>
    <link rel="icon" type="image/x-icon" href="http://www.genetium.com/favicon2.ico">
    <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png">
    <script type="text/javascript" src="js/wf.js" defer></script>
  </head>

  <body>

  <header>
<div class="row"> 
        <div class="col-lg-1 col-xs-12" id="home">

 <center><a href="/"><img src="images/logoctu.jpg" alt="CCTU logo" width="100"></a></center>
</div>         <div class="col-lg-9 col-xs-12">
<p class="app-name2"> Cambridge Clinical Trials Unit</p>
</div> 
                  <div class="col-lg-2 col-xs-12">

          <center><img src="images/nhs.jpg" alt="NHS logo" width="290" height="50">
        </center></div>
       

        </div> 
  </header>

<div id="preloader">
  <div id="status">&nbsp;</div>
</div>


  <!-- Static navbar -->
      <div class="navbar navbar-default" style="margin-bottom:0px; background-color:#fff" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="http://www.cuh.org.uk/node/154">Our services</a></li>
              <li><a href="/contact">Contact</a></li>
                            <li><a href="/cctu-news">News</a></li>

<!--              <li><a href="/CCTU-portfolio">Trials Portfolio</a></li>
 -->             
              <li class="dropdown" id="drop">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">Trials Themes <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/cctu-cardio">Cardiovascular</a></li>
                  <li><a href="/cctu-cancer">Cancer</a></li>
                  <li><a href="/cctu-paediatrics">Paediatrics</a></li>
                  <li><a href="/cctu-surgery">Surgery</a></li>
                  <li><a href="/cctu-vasculitis">Vasculitis</a></li>
                 <li><a href="/cctu-other">Other</a></li></ul></ul>
               <ul class="nav navbar-nav navbar-right">
        

      <li>  <div class="boutoni"><button type="button" class="btn btn-info btn-lg boutoni">UKCRC Registered since 2012&nbsp;</button></li>

                </ul>
            </ul>
           
          </div><!--/.nav-collapse -->

        </div><!--/.container-fluid -->
      </div> 
           
<div class="row graph"

        <div class="col-lg-6 col-xs-12 section"><br><br>
<p class="app-name">  Total Number of Trials in CCTU: 40<br><br></p>

<img src="images/cctu-numbers.jpg" alt="CCTU numbers" width="600" height="400" style="display:block; margin-left:auto; margin-right: auto" class="img-rounded"><br> 

<div class="col-lg-12">




  <br><br>
  <div class="col-lg-6 col-lg-offset-3">

<table class="table table-bordered">
  <tr> 
   <td><center><strong> Type of Trial</strong>  </center> </td>
    <td> <strong><center> Active Trials </strong> </center> </td> 
    <td><strong> <center> Proposed </center></strong></td>  
  </tr> 
  <tr> 
    <td> <center>CTIMPS </center> </td> 
    <td style="color:steelblue"> <center> 11 </center> </td> 
    <td> <center> 19</center></td> 
  </tr> 
<tr> 
    <td> <center>Non CTIMPS </center> </td> 
    <td style="color:steelblue"> <center> 4 </center> </td> 
    <td> <center> 5 </center></td> 
  </tr> 
      <tr> 
    <td> <center>Device Trials </center> </td> 
    <td style="color:steelblue"> <center> 0 </center> </td> 
    <td> <center>1 </center></td> 
  </tr> 
      <tr> 
    <td> <center> <strong> Total </center> </strong></td> 
    <td style="color:red"> <center> 15 </center> </td> 
    <td style="color:red"> <center> 25</center></td> 
  </tr>   
</table>
<hr> 

</table>
<br><br>
<table class="table table-bordered">
  <tr> 
   <td><center><strong> Trial Name</strong>  </center> </td>
    <td> <strong><center> Start Date </strong> </center> </td> 
    <td><strong> <center> No. of Centers </center></strong></td> 
        <td><strong> <center> Recruitment Target</center></strong></td>  
         <td><strong> <center>  Recruitment Actual </center></strong></td>  
                  <td><strong> <center>  Percentage Completed </center></strong></td>  


  </tr> 
  <p class="app-name"> Currently Recruiting</p> 
  <tr> 
    <td> <center>HYPAZ </center> </td> 
    <td style="color:steelblue"> <center> 22/06/2011 </center> </td> 
    <td> <center> 1</center></td> 
     <td><strong> <center> 52 </center></strong></td>  
         <td><strong> <center>  28 </center></strong></td>  
                  <td style="color:blue"><strong> <center>  53% </center></strong></td>  

  </tr> 
<tr> 
    <td> <center> AdDit </center> </td> 
    <td style="color:steelblue"> <center> 11/05/2009 </center> </td> 
    <td> <center>30 </center></td> 
    <td><strong> <center> 900 </center></strong></td>  
         <td><strong> <center>  868 </center></strong></td>  
                           <td style="color:red"><strong> <center>  96% </center></strong></td>  

  </tr> 

   <tr> 
    <td> <center>NeoSun </center> </td> 
    <td style="color:steelblue"> <center> 24/03/2010 </center> </td> 
    <td> <center> 1</center></td> 
     <td><strong> <center> 35 </center></strong></td>  
         <td><strong> <center>  18 </center></strong></td>  
                           <td style="color:blue"><strong> <center>  51% </center></strong></td>  

  </tr> 
   <tr> 
    <td> <center> Ritazarem </center> </td> 
    <td style="color:steelblue"> <center> 19/04/2013 </center> </td> 
    <td> <center>56 </center></td> 
    <td><strong> <center> 190 </center></strong></td>  
         <td><strong> <center>  48 </center></strong></td>  
                  <td style="color:green"><strong> <center>  25% </center></strong></td>  

  </tr> 


    <tr> 
    <td> <center> Aleviate </center> </td> 
    <td style="color:steelblue"> <center> 01/04/2011 </center> </td> 
    <td> <center>1 </center></td> 
    <td><strong> <center> 24 </center></strong></td>  
         <td><strong> <center>  11 </center></strong></td>  
                  <td style="color:blue"><strong> <center>  46% </center></strong></td>  

  </tr> 

    <tr> 
    <td> <center> Detemir Clargine </center> </td> 
    <td style="color:steelblue"> <center> 11/04/2008 </center> </td> 
    <td> <center>26 </center></td> 
    <td><strong> <center> 125 </center></strong></td>  
         <td><strong> <center>  80 </center></strong></td>  
                  <td style="color:orange"><strong> <center>  64% </center></strong></td>  

  </tr> 
    
        <tr> 
    <td> <a href="/earnest"><center> EARNEST </center> </a> </td> 
    <td style="color:steelblue"> <center> 20/06/2013 </center> </td> 
    <td> <center>6 </center></td> 
    <td><strong> <center> 660 </center></strong></td>  
         <td><strong> <center>  203 </center></strong></td>  
                  <td style="color:green"><strong> <center>  31% </center></strong></td>  

  </tr> 
  <tr> 
    <td> <center> SIEGE </center> </td> 
    <td style="color:steelblue"> <center> 04/02/2014 </center> </td> 
    <td> <center>20 </center></td> 
    <td><strong> <center> 120 </center></strong></td>  
         <td><strong> <center>  2 </center></strong></td> 
                  <td style="color:green"><strong> <center>  1.6% </center></strong></td>  
 
  </tr> 
  

  <tr> 
    <td> <center> MelResist </center> </td> 
    <td style="color:steelblue"> <center> 11/01/2012 </center> </td> 
    <td> <center>2 </center></td> 
    <td><strong> <center> 700 </center></strong></td>  
         <td><strong> <center>  48 </center></strong></td>
                  <td style="color:orange"><strong> <center>  68% </center></strong></td>  
  
  </tr> 
  


</table>
<br><br>
<table class="table table-bordered">
  <tr> 
   <td><center><strong> Trial Name</strong>  </center> </td>
    <td> <strong><center> Start Date </strong> </center> </td> 
    <td><strong> <center> No. of Centers </center></strong></td> 
        <td><strong> <center> Recruitment Target </center></strong></td>  
         <td><strong> <center>  Recruitment Actual </center></strong></td>  

  </tr> 
  <p class="app-name"> Trials in Follow up</p> 
  
<tr> 
    <td> <center> LEO </center> </td> 
    <td style="color:steelblue"> <center> 04/06/2011 </center> </td> 
    <td> <center> 2 </center></td> 
     <td><strong> <center> 13 </center></strong></td>  
         <td><strong> <center>  10 </center></strong></td>  
  </tr> 
    
  
    <tr> 
    <td> <a href="/erica"><center> ERICA </center></a> </td> 
    <td style="color:steelblue"> <center> 04/01/2012 </center> </td> 
    <td> <center>5 </center></td> 
    <td><strong> <center> 800 </center></strong></td>  
         <td><strong> <center>  746 </center></strong></td>  
  </tr> 

</table>
<br><br>
<table class="table table-bordered">
  <tr> 
   <td><center><strong> Trial Name</strong>  </center> </td>
    <td> <strong><center> Start Date </strong> </center> </td> 
    <td><strong> <center> No. of Centers </center></strong></td> 
        <td><strong> <center> Recruitment Target </center></strong></td>  
         <td><strong> <center>  Recruitment Actual </center></strong></td>  

  </tr> 
  <p class="app-name"> Recruitment Closed PTS Ongoing</p> 
  

   <tr> 
    <td> <center> EVOLUTION </center> </td> 
    <td style="color:steelblue"> <center> 09/07/2012 </center> </td> 
    <td> <center>2 </center></td> 
    <td><strong> <center> 60 </center></strong></td>  
         <td><strong> <center>  73 </center></strong></td>  
  </tr> 

  
   
   
</table>
<br><br>
   
   <table class="table table-bordered">
  <tr> 
   <td><center><strong> Trial Name</strong>  </center> </td>
    <td> <strong><center> Start Date </strong> </center> </td> 
    <td><strong> <center> No. of Centers </center></strong></td> 
        <td><strong> <center> Recruitment Target </center></strong></td>  
                <td><strong> <center> Recruitment Actual </center></strong></td>  

         <td><strong> <center>  End Date </center></strong></td>  

  </tr> 
  <p class="app-name"> Recruitment Completed</p> 
 
  <tr> 
    <td> <center> DILT1D </center> </td> 
    <td style="color:steelblue"> <center> 22/03/2013 </center> </td> 
    <td> <center>1 </center></td> 
    <td><strong> <center> 40 </center></strong></td>  
        <td><strong> <center> 46 </center></strong></td>  

         <td><strong> <center> - </center></strong></td>  
  </tr> 

 

   
   
</table>




</div> 
</div> </div> </div>


<br> <br> 
      <!--     <div class="col-lg-12 col-xs-12">
<p class="app-name"> Proposed Clinical Trials</p>


<script src="http://d3js.org/d3.v3.min.js"></script>
<style>

.bubble { 
display: block;
    margin-left: auto;
    margin-right: auto; 
}


text {
  font: 12px Montserrat;
  fill: #ffffff;
}

</style>
<script>

var diameter = 660,
    format = d3.format(",d"),
    color = d3.scale.category20c();

var bubble = d3.layout.pack()
    .sort(null)
    .size([diameter, diameter])
    .padding(1.5);




var svg = d3.select("body").append("svg")
    .attr("width", diameter)
    .attr("height", diameter)
    .attr("class", "bubble");
   

 


data = d3.json("/js/proposed.json", function(error, root) {
  var node = svg.selectAll(".node")
      .data(bubble.nodes(classes(root))
      .filter(function(d) { return !d.children; }))
    .enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

  node.append("title")
      .text(function(d) { return d.className + " " + "Trial"; });
 


  node.append("svg:a")
        .attr("xlink:href", function(d) { return d.url;})
      .append("svg:circle")
      .attr("r", function(d) { return d.r; })
      .style("fill", function(d) { return d.color; });

 
  node.append("svg:a")
        .attr("xlink:href", function(d) { return d.url;})
        .append("svg:text")
      .attr("dy", ".3em") 
      .style("text-anchor", "middle")
      .text(function(d) { return d.className.substring(0, d.r / 3); });


   

});

// Returns a flattened hierarchy containing all leaf nodes under the root.
function classes(root) {
  var classes = [];

  function recurse(name, node) {
   if (node.children) node.children.forEach(function (child) { recurse(node.name, child); });
else classes.push({ packageName: name, 
                    className: node.name, 
                    url: node.url,
                    value: node.size, 
                    color: node.color, 
                    id: node.id});
  }

  recurse(null, root);
  return {children: classes};
}

d3.select(self.frameElement).style("height", diameter + "px");

</script>

</div> 

</div> 

<br><br>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">

<table class="table table-bordered">
  <tr> 
   <td><center><strong> OTHER PROPOSED TRIALS</strong>  </center> </td>
    

  </tr> 
 
 <tr> 
    <td> <center> Hyperpolarisation pilot study using pyruvate </center> </td> 
    
  </tr> 
 <tr> 
    <td> <center> Imaging Vascularity in Breast Cancer - Trial 2  </center> </td> 
    
  </tr> 

    <tr> 
    <td> <center> Imaging Vascularity in Breast Cancer - Trial 3  </center> </td> 
    
  </tr> 

  <tr> 
    <td> <center> Vagus Nerve Stimulation in Prader-Willi Syndrome  </center> </td> 
    
  </tr> 
     <tr> 
    <td> <center> Immunotherapy in First Episode Psychosis</center> </td> 
    
  </tr> 
   
 </tr> 
     <tr> 
    <td> <center> Effect of closed loop insulin delivery from onset of diabetes in youth</center> </td> 
    
  </tr> 
    </tr> 
     <tr> 
    <td> <center> Tocilizumab in Treatment of Resisdtant Depression</center> </td> 
    
  </tr> 

 <tr> 
    <td> <center> Aspirin in Treatment of Resistant Schizophrenia</center> </td> 
    
  </tr> 
  <tr> 
    <td> <center> Acquired immunodeficiency in AAV</center> </td> 
    
  </tr> 
 <tr> 
    <td> <center> Tay-Sachs Gene Therapy</center> </td> 
    
  </tr> 

 <tr> 
    <td> <center> IL2 in acute CS</center> </td> 
    
  </tr> 

   <tr> 
    <td> <center> Olanzipine in HD patients</center> </td> 
    
  </tr> 

 <tr> 
    <td> <center> Determir Clargine</center> </td> 
    
  </tr> 
 <tr> 
    <td> <center> Step Up CSDH</center> </td> 
    
  </tr> 

</table>
</div></div> 
 -->

<div class="boutoni"><a href="#home"><button type="button" class="btn btn-info btn-lg boutoni">Back to Top&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></button></a></div> <br> 
<!-- Preloader -->
<script type="text/javascript">
  //<![CDATA[
    $(window).load(function() { // makes sure the whole site is loaded
      $('#status').fadeOut(); // will first fade out the loading animation
      $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
      $('body').delay(350).css({'overflow':'visible'});
    })
  //]]>
</script> 
<p class="app-name"> Last Updated 21/7/2014</p>

</body>
<div class="section grey footer">




    <div class="w-container">
      <p class="footer-text">All rights reserved, Cambridge Clinical Trials Unit, 2014</p>
     
       <div class="w-col w-col-12 w-clearfix nav-column footer"><a class="nav-link footer" href="http://www.nihr.ac.uk/Pages/default.aspx" target="_self">N.I.H. Research</a><br><a class="nav-link footer" href="http://www.cambridge-brc.org.uk/" target="_self">Cambridge Bio Medical Research Centre</a><br><a class="nav-link footer" href="http://www.medschl.cam.ac.uk/" target="_self">School of Clinical Medicine</a><br><a class="nav-link footer" href="http://www.cuh.org.uk/cms/research-and-development" target="_self">C.U.H. Research and Development</a><br> </div>
    </div>
  </div>

</html>