<!DOCTYPE html>
<!-- Hey my name is Alex Louizos.  I love people taking a curious look into things. If you are like me and like making things possible you should join our team and help us fulfill our mission of using technology to save lives. Contact me at alouisos@gmail.com  Ps: if you keep searching the code you may be able to find more easter eggs...well, instead of keep searching it why don't you come with us to change the world?-->
<html>
  <head>
    <meta charset="utf-8">
    <title>Cambridge Clinical Trials Unit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/wf.css">
    <link rel="stylesheet" type="text/css" href="css/genetium.css">
<link type="text/css" rel="stylesheet" href="css/rickshaw.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
<script src="js/d3.layout.js"></script>
<script src="js/rickshaw.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/responsiveslides.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
 
$(document).ready(function(){
 
        $(".slidingDiv").hide();
        $(".show_hide").show();
 
    $('.show_hide').click(function(){
    $(".slidingDiv").slideToggle();
    });
 
});
 
</script>

        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, print"/>
 <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
 <link rel="stylesheet" type="text/css" href="css/demo.css">
		<link rel="stylesheet" type="text/css" href="css/common.css">
        <link rel="stylesheet" type="text/css" href="css/style2.css">
<script>
$(document).ready(function(){
  $("#hide").click(function(){
    $("p").hide();
  });
  $("#show").click(function(){
    $("p").show();
  });
});
</script>
  
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/navbar/navbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/login.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Montserrat:400,700","Bitter:400,700"]
        }
      });
    </script>
    <link rel="icon" type="image/x-icon" href="http://www.genetium.com/favicon2.ico">
    <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png">
    <script type="text/javascript" src="js/wf.js" defer></script>
  </head>

  <body>

   <header>
<div class="row"> 
        <div class="col-lg-1 col-xs-12" id="home">

 <center><a href="/"><img src="images/logoctu.jpg" style="padding-top:20px" alt="CCTU logo" width="100"></a></center>
</div>         <div class="col-lg-9 col-xs-12">
<p class="app-name" style="padding-top:10px;"> Cambridge Clinical Trials Unit</p>
</div> 
                  <div class="col-lg-2 col-xs-12">

          <center><img src="images/ukcrc.jpg" style="padding-bottom:10px;" alt="NHS logo" width="290" height="80">
        </center></div>
       

        </div> 
  </header>

<div id="preloader">
  <div id="status">&nbsp;</div>
</div>


  <!-- Static navbar -->
      <div class="navbar navbar-default" style="margin-bottom:0px; background-color:#fff" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="http://www.cuh.org.uk/node/154">Our services</a></li>
              <li><a href="/contact">Contact</a></li>
               <li><a href="/cctu-news">News</a></li>
<!--                            <li><a href="/CCTU-portfolio">Trials Portfolio</a></li>
 -->
             
              <li class="dropdown">
                <a href="./Navbar Template for Bootstrap_files/Navbar Template for Bootstrap.html" class="dropdown-toggle" data-toggle="dropdown"> Trials Themes <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/cctu-cardio">Cardiovascular</a></li>
                  <li><a href="/cctu-cancer">Cancer</a></li>
                  <li><a href="#self">Paediatrics</a></li>
                  <li><a href="/cctu-surgery">Surgery</a></li>
                  <li><a href="/cctu-vasculitis">Vasculitis</a></li>
                  <li><a href="/cctu-other">Other</a></li>
                </ul>
              </li>
            </ul>
           
          </div><!--/.nav-collapse -->

        </div><!--/.container-fluid -->
      </div> 



<div class="section rest_content">


			

					<p class="app-name2" style="padding-top:20px"> Paediatrics Trials Theme</p> 
				<ul class="ch-grid" id="cardio">
					<li>
						<div class="ch-item ch-img-4">
							<div class="ch-info">
								<a href="http://www.addit-trial.org/"><h3>AdDit Study</h3></a>
								<a href="http://www.addit-trial.org/"><h3>Click to Access</h3></p>
							</div>
						</div>
					</li>
					<!-- <li>
						<div class="ch-item ch-img-5">
							<div class="ch-info">
								<a href="/earnest"><h3> Study</h3></a>
								<a href="/earnest"><h3>Click to Access</h3></p>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-5">
							<div class="ch-info"> -->
							<!-- 	<a href="http://drbl.in/eNXY"><h3>Evolution Trial</h3></a>
								<a <a href="http://drbl.in/eNXY"><p>Click to Access </a> --><!-- <a href="self">Click to Access</a></p>
							</div>
						</div>
					</li>
				</ul>
				
			</section> -->

<br><br>

<div class="row"> 

<p class="app-name2"> Team Members  </p></a> <br> 

<div class="col-lg-12"> 

	<img class="img-circle" style="display: block; height: 200px; width:170px; margin-left:auto; margin-right: auto;" src="images/prof-dunger.jpg" alt="  " >

	<p class="app-name3"> Proffessor David Dunger <br> CCTU<br>  Lead Paediatrics Theme 

 </div>
 <br><br>

<div class="col-lg-3"> 

  <img class="img-circle" style="display: block; height: 150px; width:150px; margin-left:auto; margin-right: auto;" src="images/white.png" alt="  " >

  <p class="app-name3"> Stella Silvester <br> CCTU <br>  Senior Coordinator 

 </div>

<div class="col-lg-3"> 

  <img class="img-circle" style="display: block; height: 150px; width:150px; margin-left:auto; margin-right: auto;" src="images/white.png" alt="  " >

  <p class="app-name3"> Diane Picton <br> CCTU <br> Coordinator

 </div>

<div class="col-lg-3"> 

  <img class="img-circle" style="display: block; height: 150px; width:150px; margin-left:auto; margin-right: auto;" src="images/white.png" alt="  " >

  <p class="app-name3"> Mark Wilson <br> CCTU <br> Data Manager  

 </div>
<div class="col-lg-3"> 

  <img class="img-circle" style="display: block; height: 150px; width:150px; margin-left:auto; margin-right: auto;" src="images/white.png" alt="  " >

  <p class="app-name3"> Tracey Stevens <br>CCTU <br>Administrator 

 </div>

</div>  
			<br><br>

<div class="boutoni"><a href="#home"><button type="button" class="btn btn-info btn-lg boutoni">Back to Top&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></button></a></div> <br> 

						

        </div>
			
	<div class="section footer">
    <div class="w-container">
      <p class="footer-text">All rights reserved, Cambridge Clinical Trials Unit, 2014</p>
     
       <div class="w-col w-col-12 w-clearfix nav-column footer"><a class="nav-link footer" href="http://www.nihr.ac.uk/Pages/default.aspx" target="_self">N.I.H. Research</a><br><a class="nav-link footer" href="http://www.cambridge-brc.org.uk/" target="_self">Cambridge Bio Medical Research Centre</a><br><a class="nav-link footer" href="http://www.medschl.cam.ac.uk/" target="_self">School of Clinical Medicine</a><br><a class="nav-link footer" href="http://www.cuh.org.uk/cms/research-and-development" target="_self">C.U.H. Research and Development</a></div>
    </div>
  </div>

<!-- jQuery Plugin -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>

<!-- Preloader -->
<script type="text/javascript">
	//<![CDATA[
		$(window).load(function() { // makes sure the whole site is loaded
			$('#status').fadeOut(); // will first fade out the loading animation
			$('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
			$('body').delay(350).css({'overflow':'visible'});
		})
	//]]>
</script> 
	</body>
</html>
