<!DOCTYPE html>
<!-- Hey my name is Alex Louizos.  I love people taking a curious look into things. If you are like me and like making things possible you should join our team and help us fulfill our mission of using technology to save lives. Contact me at alouisos@gmail.com  Ps: if you keep searching the code you may be able to find more easter eggs...well, instead of keep searching it why don't you come with us to change the world?-->
<html>
  <head>
    <meta charset="utf-8">
    <title>Cambridge Clinical Trials Unit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/wf.css">
    <link rel="stylesheet" type="text/css" href="css/genetium.css">
<link type="text/css" rel="stylesheet" href="css/rickshaw.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
<script src="js/d3.layout.js"></script>
<script src="js/rickshaw.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/responsiveslides.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js" type="text/javascript"></script>


        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, print"/>
 <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/responsiveslides.min.js"></script>

  
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/navbar/navbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/login.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Montserrat:400,700","Bitter:400,700"]
        }
      });
    </script>
    <link rel="icon" type="image/x-icon" href="http://www.genetium.com/favicon2.ico">
    <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png">
    <script type="text/javascript" src="js/wf.js" defer></script>
  </head>

  <body>

  <header>
<div class="row"> 
        <div class="col-lg-1 col-xs-12" id="home">

 <center><a href="/"><img src="images/logoctu.jpg" style="padding-top:20px" alt="CCTU logo" width="100"></a></center>
</div>         <div class="col-lg-9 col-xs-12">
<p class="app-name" style="padding-top:10px;"> Cambridge Clinical Trials Unit</p>
</div> 
                  <div class="col-lg-2 col-xs-12">

          <center><img src="images/ukcrc.jpg" style="padding-bottom:10px;" alt="NHS logo" width="290" height="80">
        </center></div>
       

        </div> 
  </header>
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>


  <!-- Static navbar -->
      <div class="navbar navbar-default" style="margin-bottom:0px; background-color:#fff" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="http://www.cuh.org.uk/node/154">Our services</a></li>
              <li><a href="/contact">Contact</a></li>
                            <li><a href="#self">News</a></li>

<!--                            <li><a href="/CCTU-portfolio">Trials Portfolio</a></li>
 -->
             
              <li class="dropdown">
                <a href="./Navbar Template for Bootstrap_files/Navbar Template for Bootstrap.html" class="dropdown-toggle" data-toggle="dropdown">Trials Themes<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/cctu-cardio">Cardiovascular</a></li>
                  <li><a href="/cctu-cancer">Cancer</a></li>
                  <li><a href="/cctu-paediatrics">Paediatrics</a></li>
                  <li><a href="/cctu-vasculitis">Paediatrics</a></li>

                  <li><a href="/cctu-surgery">Surgery</a></li>
                  <li><a href="/cctu-other">Other</a></li>
                </ul>
              </li>
            </ul>
           
          </div><!--/.nav-collapse -->

        </div><!--/.container-fluid -->
      </div> 
          <br><br>
          <div class="row"> 
<p class="app-name2"> Cambridge Clinical Trials Unit News Bulletin</p> 

                            <div class="col-lg-8 col-xs-12 section col-lg-offset-4">


<br> <br> 
 <p class="hero-subtitle"> 
<span class="glyphicon glyphicon-download"></span><a href="http://cctu.medschl.cam.ac.uk/cctu-july-2014.pdf">&nbsp;CCTU Bulletin July 2014  <br> </a>

<span class="glyphicon glyphicon-download"></span><a href="http://www.cuh.org.uk/sites/default/files/misc/CCTU%20Bulletin%20April%202014.pdf">&nbsp;CCTU Bulletin April 2014  <br> </a>

 <span class="glyphicon glyphicon-download"></span><a href="http://www.cuh.org.uk/sites/default/files/misc/CCTU%20Bulletin%20Dec%202013.pdf">&nbsp;CCTU Bulletin December 2013  <br> </a>
 <span class="glyphicon glyphicon-download"></span><a href="http://www.cuh.org.uk/sites/default/files/misc/CCTU%20Bulletin%20Sep%202013.pdf">&nbsp;CCTU Bulletin September 2013<br> </a>
 <span class="glyphicon glyphicon-download"></span><a href="http://www.cuh.org.uk/sites/default/files/misc/CCTU%20Bulletin%20June%202013.pdf">&nbsp;CCTU Bulletin June 2013<br> </a>
 <span class="glyphicon glyphicon-download"></span><a href="http://www.cuh.org.uk/sites/default/files/misc/Bulletin%20March%202013.pdf">&nbsp;CCTU Bulletin March 2013<br> </a>
<span class="glyphicon glyphicon-download"></span> <a href="http://www.cuh.org.uk/sites/default/files/misc/CCTU%20Dec%202012%20Bulletin.pdf">&nbsp;CCTU Bulletin December 2012<br> </a>
 <span class="glyphicon glyphicon-download"></span><a href="http://www.cuh.org.uk/sites/default/files/misc/09%20Sept%202012%20Bulletin.pdf">&nbsp;CCTU Bulletin September 2012<br> </a>
 <span class="glyphicon glyphicon-download"></span><a href="http://www.cuh.org.uk/sites/default/files/misc/05%20May%202012%20CCTU%20Bulletin.pdf">&nbsp;CCTU Bulletin May 2012<br> </a>
 <span class="glyphicon glyphicon-download"></span><a href="http://www.cuh.org.uk/sites/default/files/misc/CCTU%20Bulletin%20December%202011.pdf">&nbsp;CCTU Bulletin December 2011<br> </a>
 <span class="glyphicon glyphicon-download"></span><a href="http://www.cuh.org.uk/sites/default/files/misc/CCTU%20Bulletin%20July%202011.pdf">&nbsp;CCTU Bulletin July 2011<br> </a>
 <span class="glyphicon glyphicon-download"></span><a href="http://www.cuh.org.uk/sites/default/files/misc/CTO%20Bulletin%20April2011.pdf">&nbsp;CCTU Bulletin April 2011<br> </a>
 <span class="glyphicon glyphicon-download"></span><a href="http://www.cuh.org.uk/sites/default/files/misc/CTO%20Bulletin%20Feb2011.pdf">&nbsp;CCTU Bulletin February 2011<br></a>

</p> 

</div> </div> 
 
<!-- 
 <div class="row"> 

                            <div class="col-lg-8 col-xs-12 section col-lg-offset-2">
 <p class="hero-subtitle">CCTU General </p>

<table class="table">
   <tr class="warning"> 
   <td> <strong> Name</strong>  </center> </td>
    <td> <strong>  Job Title </strong> </center> </td> 
    <td><strong>   Telephone </center></strong></td>  
        <td><strong>   Email Address </center></strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Dr Ian Wilkinson</strong>  </center> </td>
    <td>   Director CCTU, Cardiovascular Theme Lead </center> </td> 
    <td>    </center></td>  
        <td><strong>   </center></strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Angela Loveridge</strong>  </center> </td>
    <td>   Dr Ian Wilkinson's Secretary </center> </td> 
    <td>   01223 336806 </center></td>  
        <td><a href="mailto:angela.loveridge@addenbrookes.nhs.uk">angela.loveridge@addenbrookes.nhs.uk</a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong> Dr Sabine Kläger</strong>  </center> </td>
    <td>   Assistant Director CCTU </center> </td> 
    <td>   01223 348179 </center></td>  
        <td><a href="mailto:sabine.klager@addenbrookes.nhs.uk">sabine.klager@addenbrookes.nhs.uk</a>  </strong></td>  
  </tr> 
 <tr> 
   <td> <strong> Prasanna Kapilan</strong>  </center> </td>
    <td>   Administrator </center> </td> 
    <td>   01223 596474 </center></td>  
        <td><a href="mailto:prasanna.kapilan@addenbrookes.nhs.uk">prasanna.kapilan@addenbrookes.nhs.uk </a>  </strong></td>  
  </tr> 
 <tr> 
   <td> <strong> Kelly Rolt  </strong>  </center> </td>
    <td>   Data Clerk </center> </td> 
    <td>   01223 274570 </center></td>  
        <td><a href="mailto:kelly.rolt@addenbrookes.nhs.uk">kelly.rolt@addenbrookes.nhs.uk </a>  </strong></td>  
  </tr> 
 <tr> 
   <td> <strong> Dr Paula Kareclas  </strong>  </center> </td>
    <td>  CCTU Lead - Coordination </center> </td> 
    <td>   01223 596473 </center></td>  
        <td><a href="mailto:paula.kareclas@addenbrookes.nhs.uk">paula.kareclas@addenbrookes.nhs.uk </a>  </strong></td>  
  </tr> 

 <tr> 
   <td> <strong>Dr Simon Bond  </strong>  </center> </td>
    <td>  CCTU Lead – Data Management </center> </td> 
    <td>   01223 274896 </center></td>  
        <td><a href="mailto:simon.bond@addenbrookes.nhs.uk">simon.bond@addenbrookes.nhs.uk </a>  </strong></td>  
  </tr> 
<tr>
<td> <strong>Dr Sridevi Nagarajan </strong>  </center> </td>
    <td>  CCTU Lead - Statistics </center> </td> 
    <td>   01223 596475 </center></td>  
        <td><a href="mailto:sridevi.nagarajan@addenbrookes.nhs.uk ">sridevi.nagarajan@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
<tr>
<td> <strong>Carrie Bayliss </strong>  </center> </td>
    <td>  CCTU Lead - Regulatory Affairs </center> </td> 
    <td>   01223 348158 </center></td>  
        <td><a href="mailto:carrie.bayliss@addenbrookes.nhs.uk   ">carrie.bayliss@addenbrookes.nhs.uk   </a>  </strong></td>  
  </tr> 

</table>



<hr>
<br>
 <p class="hero-subtitle">CCTU Theme Leads </p>
<table class="table">
   <tr class="warning"> 
   <td> <strong> Name</strong>  </center> </td>
    <td> <strong>  Job Title </strong> </center> </td> 
    <td><strong>   Telephone </center></strong></td>  
        <td><strong>   Email Address </center></strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Prof Tim Eisen </strong>  </center> </td>
    <td>   Lead Cancer Theme </center> </td> 
    <td>    </center></td>  
        <td><strong>   </center></strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Prof David Dunger   </strong>  </center> </td>
    <td> Lead Paediatrics Theme </center> </td> 
    <td>  </center></td>  
        <td><a href="mailto:"></a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong> Professor Ian Wilkinson</strong>  </center> </td>
    <td>   Director CCTU, Lead Cardiovascular Theme</center> </td> 
    <td>   </center></td>  
        <td><a href="mailto:"></a>  </strong></td>  
  </tr> 
 <tr> 
   <td> <strong> Dr David Jayne  </strong>  </center> </td>
    <td>   Lead Vasculitis Theme</center> </td> 
    <td>    </center></td>  
        <td><a href="mailto:"></a>  </strong></td>  
  </tr> 
 

</table>

<hr>
<br>
 <p class="hero-subtitle">General clinical trials co-ordination</p>
<table class="table">
   <tr class="warning"> 
   <td> <strong> Name</strong>   </td>
    <td> <strong>  Job Title </strong> </center> </td> 
    <td><strong>   Telephone </strong></td>  
        <td><strong>   Email Address </strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Dr Paula Kareclas  </strong>  </center> </td>
    <td>  CCTU Lead - Coordination  </td> 
    <td>   01223 596473 </td>  
        <td><a href="mailto:paula.kareclas@addenbrookes.nhs.uk">paula.kareclas@addenbrookes.nhs.uk </a>  </strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Emma Arbon    </strong>  </center> </td>
  
    <td> Clinical Trials Co-ordinator  </td> 
    <td> 01223 254917 </td>  
        <td><a href="mailto:emma.arbon@addenbrookes.nhs.uk  ">emma.arbon@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong> Professor Ian Wilkinson</strong>   </td>
    <td>   Director CCTU, Lead Cardiovascular Theme </td> 
    <td>  </td>  
        <td><a href="mailto:"></a>  </strong></td>  
  </tr> 
 <tr> 
   <td> <strong> Kathryn Irons  </strong> </td>
    <td>   Clinical Trials Coordinator </td> 
    <td> 01223 256624   </td>  
        <td><a href="mailto:kathryn.irons@addenbrookes.nhs.uk ">kathryn.irons@addenbrookes.nhs.uk </a>  </strong></td>  
  </tr> 
 

</table>

<hr>
<br> <br> 

<div class="boutoni"><a href="#home"><button type="button" class="btn btn-info btn-lg boutoni">Back to Top&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></button></a></div> <br> 
<hr>
<br>
 <p class="hero-subtitle">Statistics and data management</p>
<table class="table">
   <tr class="warning"> 
   <td> <strong> Name</strong>   </td>
    <td> <strong>  Job Title </strong>  </td> 
    <td><strong>   Telephone </strong></td>  
        <td><strong>   Email Address </strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Dr Simon Bond  </strong>  </center> </td>
    <td>  CCTU Lead - Statistics   </td> 
    <td>   01223 596475 </td>  
        <td><a href="mailto:simon.bond@addenbrookes.nhs.uk">simon.bond@addenbrookes.nhs.uk</a>  </strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Dr Sridevi Nagarajan  </strong>  </center> </td>
  
    <td>CCTU Lead – Data Management </td> 
    <td> 01223 274896</td>  
        <td><a href="mailto:sridevi.nagarajan@addenbrookes.nhs.uk  ">sridevi.nagarajan@addenbrookes.nhs.uk    </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong> Dr Wendi Qian  </strong>   </td>
    <td>   Senior Statistician (Cancer Theme)</td> 
    <td> 01223 256363  </td>  
        <td><a href="mailto:wendi.qian@addenbrookes.nhs.uk">wendi.qian@addenbrookes.nhs.uk </a> </strong></td>  
  </tr> 
 <tr> 
   <td> <strong> Dr Julia Forman   </strong>  </center> </td>
    <td>   Research Associate – Applied Statistics/Epidemiology</td> 
    <td> 01223 349762  </td>  
        <td><a href="mailto:julia.forman@addenbrookes.nhs.uk ">julia.forman@addenbrookes.nhs.uk </a>  </strong></td>  
  </tr> 
 
   <tr> 
   <td> <strong> Sarah Dawson </strong>  </td>
    <td>  Statistician</td> 
    <td>  01223 349776   </td>  
        <td><a href="mailto:snd33@cam.ac.uk">snd33@cam.ac.uk</a>  </strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Andrea Machin   </strong>   </td>
  
    <td>Statistician</td> 
    <td> 01223 348423 </td>  
        <td><a href="mailto:andrea.machin@addenbrookes.nhs.uk  ">andrea.machin@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong>Isaac Opara  </strong>   </td>
    <td>   Data Manager</td> 
    <td> 012232 56654   </td>  
        <td><a href="mailto:isaac.opara@addenbrookes.nhs.uk "> isaac.opara@addenbrookes.nhs.uk</a>  </strong></td>  
  </tr> 
 <tr> 
   <td> <strong> Louise Grierson    </strong> </td>
    <td>   Clinical Trials Data Manager </td> 
    <td> 01223 256654  </td>  
        <td><a href="mailto:louise.grierson@addenbrookes.nhs.uk ">louise.grierson@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong>Louizos-Alexandros Louizos </strong></td>
    <td>  Clinical Trials Programmer  </td> 
    <td> 01223 274539   </td>  
        <td><a href="mailto:Louizos-Alexandros.Louizos@addenbrookes.nhs.uk   ">Louizos-Alexandros.Louizos@addenbrookes.nhs.uk</a>    </strong></td>  
  </tr> 
 <tr> 
   <td> <strong> Richard Hardy   </strong>  </td>
    <td>   Computer Programmer (Cancer Theme)</td> 
    <td> 01223 348454 </td>  
        <td><a href="mailto:richard.hardy@addenbrookes.nhs.uk ">richard.hardy@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
 
</table>


<hr>
<br>
 <p class="hero-subtitle">Cancer theme</p>
<table class="table">
   <tr class="warning"> 
   <td> <strong> Name</strong>   </td>
    <td> <strong>  Job Title </strong>  </td> 
    <td><strong>   Telephone </strong></td>  
        <td><strong>   Email Address </strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Michael Harrison </strong>   </td>
    <td>  CCTC Business & Operation Manager </td> 
    <td>  01223 348376  </td>  
        <td><a href="mailto:michael.harrison@addenbrookes.nhs.uk  ">michael.harrison@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Dr Si-Houy Lao-Sirieix  </strong>   </td>
  
    <td>Team Lead – Coordination   </td> 
    <td> 01223 348396 </td>  
        <td><a href="mailto:sihouy@addenbrookes.nhs.uk  ">sihouy@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong> Anne-Laure Vallier </strong>  </td>
    <td>   Senior Coordinator Breast Trials </td> 
    <td> 01223 348086  </td>  
        <td><a href="mailto:louise.grybowicz@addenbrookes.nhs.uk  ">louise.grybowicz@addenbrookes.nhs.uk   </a> </strong></td>  
  </tr> 
 <tr> 
   <td> <strong>Dr Leanne Bell   </strong>   </td>
    <td>   Coordinator Breast Trials   </td> 
    <td>01223 348089  </td>  
        <td><a href="mailto:leannebell1@addenbrookes.nhs.uk  ">leannebell1@addenbrookes.nhs.uk   </a>  </strong></td>  
  </tr> 
 
   <tr> 
   <td> <strong> Dr Katy Dalchau </strong>   </td>
    <td> Coordinator COUGAR 2   </td> 
    <td>  01223 256361   </td>  
        <td><a href="mailto:natalia.igosheva@addenbrookes.nhs.uk  ">natalia.igosheva@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Nicola Ramenatte </strong>  </td>
  
    <td>Coordinator Early Phase </td> 
    <td> 01223 348389  </td>  
        <td><a href="mailto:nicola.ramenatte@addenbrookes.nhs.uk    ">nicola.ramenatte@addenbrookes.nhs.uk   </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong>Pamela Whittaker </strong>  </td>
    <td>  Coordinator</td> 
    <td> 01223 348094   </td>  
        <td><a href="mailto:pamela.whittaker@addenbrookes.nhs.uk   "> pamela.whittaker@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
 <tr> 
   <td> <strong> Gemma Young     </strong>   </td>
    <td>   Coordinator - AVAST-M  </td> 
    <td> 01223 216083    </td>  
        <td><a href="mailto:gemma.young@addenbrookes.nhs.uk  ">gemma.young@addenbrookes.nhs.uk    </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong>Kevin Baker </strong>   </td>
    <td>  Data Manager Breast Trials  </td> 
    <td> 01223 348083  </center></td>  
        <td><a href="mailto:kevin.baker@addenbrookes.nhs.uk   ">kevin.baker@addenbrookes.nhs.uk</a>    </strong></td>  
  </tr> 
 <tr> 
   <td> <strong> Caron Harvey  </strong>   </td>
    <td> Data Manager AVAST-M </td> 
    <td> 01223 348091 </td>  
        <td><a href="mailto:caron.harvey@addenbrookes.nhs.uk">caron.harvey@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong> Graham Armstrong</strong>  </td>
  
    <td>Data Manager  </center> </td> 
    <td> 01223 216674   </center></td>  
        <td><a href="mailto:graham.armstrong@addenbrookes.nhs.uk    ">graham.armstrong@addenbrookes.nhs.uk   </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong>Nazma Begum </strong>  </center> </td>
    <td>  Data Clerk - AVAST-M  </center> </td> 
    <td> 01223 348091   </center></td>  
        <td><a href="mailto:nazma.begum@addenbrookes.nhs.uk    "> nazma.begum@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
 <tr> 
   <td> <strong> Dr Wendi Qian     </strong>  </center> </td>
    <td> Senior Statistician (Cancer Theme) </center> </td> 
    <td> 01223 256363    </center></td>  
        <td><a href="mailto:wendi.qian@addenbrookes.nhs.uk    ">wendi.qian@addenbrookes.nhs.uk      </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong>Richard Hardy </strong>  </center> </td>
    <td>  Computer Programmer (Cancer Theme)  </center> </td> 
    <td> 01223 348454   </center></td>  
        <td><a href="mailto:richard.hardy@addenbrookes.nhs.uk     ">richard.hardy@addenbrookes.nhs.uk </a>    </strong></td>  
  </tr> 
 <tr> 
   <td> <strong> Anita Chhabra </strong>  </center> </td>
    <td> Pharmacist</center> </td> 
    <td> 01223 596233   </center></td>  
        <td><a href="mailto:anita.chhabra@addenbrookes.nhs.uk">anita.chhabra@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
 
</table>
<hr>
<br> <br> 

<div class="boutoni"><a href="#home"><button type="button" class="btn btn-info btn-lg boutoni">Back to Top&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></button></a></div> <br> 

<hr>
<br>
 <p class="hero-subtitle">Vasculitis theme</p>
<table class="table">
   <tr class="warning"> 
   <td> <strong> Name</strong>   </td>
    <td> <strong>  Job Title </strong> </center> </td> 
    <td><strong>   Telephone </strong></td>  
        <td><strong>   Email Address </strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Karen Dahlsveen </strong>  </center> </td>
    <td>  Coordinator MYCYC  </center> </td> 
    <td>  01223 336819   </center></td>  
        <td><a href="mailto:mycycmed@hermes.cam.ac.uk  ">mycycmed@hermes.cam.ac.uk  </a>  </strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Biljana Brezina   </strong>  </center> </td>
  
    <td>Senior Coordinator PEXIVAS   </center> </td> 
    <td> 01223 256731  </center></td>  
        <td><a href="mailto:bjovanovska@nhs.net ">bjovanovska@nhs.net  </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong> Dr Michelle Lewin </strong>  </center> </td>
    <td>  Senior Coordinator RITAZAREM</center> </td> 
    <td> 01223 349350  </center></td>  
        <td><a href="mailto:michelle.lewin@addenbrookes.nhs.uk  ">michelle.lewin@addenbrookes.nhs.uk  </a> </strong></td>  
</table>



<hr>
<br>
 <p class="hero-subtitle">Paediatric theme</p>
<table class="table">
   <tr class="warning"> 
   <td> <strong> Name</strong>   </td>
    <td> <strong>  Job Title </strong> </center> </td> 
    <td><strong>   Telephone </strong></td>  
        <td><strong>   Email Address </strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Stella Silvester  </strong>  </center> </td>
    <td>  Senior Coordinator   </center> </td> 
    <td> 01223 762944   </center></td>  
        <td><a href="mailto:  sks28@medschl.cam.ac.uk   ">  sks28@medschl.cam.ac.uk  </a>  </strong></td>  
  </tr> 
    <tr> 
   <td> <strong>Diane Picton    </strong>  </center> </td>
  
    <td>Coordinator  </center> </td> 
    <td> 01223 762944   </center></td>  
        <td><a href="mailto:  dp223@medschl.cam.ac.uk  "> dp223@medschl.cam.ac.uk  </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong> Mark Wilson   </strong>  </center> </td>
    <td>  Data Manager - Paediatrics  </center> </td> 
    <td> 01223 763131  </center></td>  
        <td><a href="mailto:maw59@cam.ac.uk   ">maw59@cam.ac.uk   </a> </strong></td>  
</tr>
 <tr> 
   <td> <strong> Tracey Stevens   </strong>  </center> </td>
    <td>  Administrator - Paediatrics </center> </td> 
    <td> 01223 768613   </center></td>  
        <td><a href="mailto:tjs64@medschl.cam.ac.uk   ">tjs64@medschl.cam.ac.uk   </a> </strong></td>  
</tr>

</table>

<hr>
<br>
 <p class="hero-subtitle">Cardiovascular theme</p>
<table class="table">
   <tr class="warning"> 
   <td> <strong> Name</strong>   </td>
    <td> <strong>  Job Title </strong> </center> </td> 
    <td><strong>   Telephone </strong></td>  
        <td><strong>   Email Address </strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Arti Gulati   </strong>  </center> </td>
    <td> Coordinator  </center> </td> 
    <td> 01223 596377   </center></td>  
        <td><a href="mailto:  arti.gulati@addenbrookes.nhs.uk   ">    arti.gulati@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
    <tr> 
   <td> <strong>Dr Katan Patel    </strong>  </center> </td>
  
    <td>Coordinator - EVOLUTION   </center> </td> 
    <td> 01223 349243  </center></td>  
        <td><a href="mailto:  katan.patel@addenbrookes.nhs.uk  ">   katan.patel@addenbrookes.nhs.uk   </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong> Dr Carole Turner   </strong>  </center> </td>
    <td>  Senior Coordinator - STASH    </center> </td> 
    <td> 01223 217205   </center></td>  
        <td><a href="mailto:clt29@medschl.cam.ac.uk  ">clt29@medschl.cam.ac.uk  </a> </strong></td>  
</tr>
 

</table>

<hr>
<br>
 <p class="hero-subtitle">Quality assurance and regulatory affairs</p>
<table class="table">
   <tr class="warning"> 
   <td> <strong> Name</strong>   </td>
    <td> <strong>  Job Title </strong> </center> </td> 
    <td><strong>   Telephone </strong></td>  
        <td><strong>   Email Address </strong></td>  
  </tr> 
    <tr> 
   <td> <strong> Carrie Bayliss   </strong>  </center> </td>
    <td> CCTU Lead - Regulatory Affairs  </center> </td> 
    <td> 01223 348158   </center></td>  
        <td><a href="mailto: carrie.bayliss@addenbrookes.nhs.uk   ">    carrie.bayliss@addenbrookes.nhs.uk </a>  </strong></td>  
  </tr> 
    <tr> 
   <td> <strong>Dr Ana Boshoff    </strong>  </center> </td>
  
    <td>Clinical Trials Officer   </center> </td> 
    <td> 01223 348498   </center></td>  
        <td><a href="mailto:  ana.boshoff@addenbrookes.nhs.uk ">    ana.boshoff@addenbrookes.nhs.uk  </a>  </strong></td>  
  </tr> 
   <tr> 
   <td> <strong> Sarah Cheung   </strong>  </center> </td>
    <td>  Clinical Trials Monitor    </center> </td> 
    <td> 01223 596470   </center></td>  
        <td><a href="mailto:  sarah.cheung@addenbrookes.nhs.uk "> sarah.cheung@addenbrookes.nhs.uk </a> </strong></td>  
</tr>
   <tr> 
   <td> <strong> Andrea Cradduck  </strong>  </center> </td>
    <td>  Clinical Trials Monitor    </center> </td> 
    <td> 01223 349761   </center></td>  
        <td><a href="mailto:  andrea.cradduck@addenbrookes.nhs.uk">andrea.cradduck@addenbrookes.nhs.uk </a> </strong></td>  
</tr>
  <tr> 
   <td> <strong> Denise Fleig   </strong>  </center> </td>
    <td>  Pharmacovigilance Coordinator  </center> </td> 
    <td>01223 348955  </center></td>  
        <td><a href="mailto:  denise.fleig@addenbrookes.nhs.uk  ">denise.fleig@addenbrookes.nhs.uk  </a> </strong></td>  
</tr>
   <tr> 
   <td> <strong> Carolyn Sexton   </strong>  </center> </td>
    <td>  QA Manager   </center> </td> 
    <td>01223 349763    </center></td>  
        <td><a href="mailto:  carolyn.sexton@addenbrookes.nhs.uk "> carolyn.sexton@addenbrookes.nhs.uk </a> </strong></td>  
</tr>
   <tr> 
   <td> <strong> Medha Singh    </strong>  </center> </td>
    <td> Clinical Trials Officer    </center> </td> 
    <td>01223 274159    </center></td>  
        <td><a href="mailto: medha.singh@addenbrookes.nhs.uk "> medha.singh@addenbrookes.nhs.uk</a> </strong></td>  
</tr>
 



</table> -->
<hr>
<br> <br> 

<div class="boutoni"><a href="#home"><button type="button" class="btn btn-info btn-lg boutoni">Back to Top&nbsp;<span class="glyphicon glyphicon-chevron-up"></span></button></a></div> <br> 
</div ></div> 

<!-- Preloader -->
<script type="text/javascript">
  //<![CDATA[
    $(window).load(function() { // makes sure the whole site is loaded
      $('#status').fadeOut(); // will first fade out the loading animation
      $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
      $('body').delay(350).css({'overflow':'visible'});
    })
  //]]>
</script> 


</body>
<div class="section grey footer">
    <div class="w-container">
      <p class="footer-text">All rights reserved, Cambridge Clinical Trials Unit, 2014</p>
     
       <div class="w-col w-col-12 w-clearfix nav-column footer"><a class="nav-link footer" href="http://www.nihr.ac.uk/Pages/default.aspx" target="_self">N.I.H. Research</a><br><a class="nav-link footer" href="http://www.cambridge-brc.org.uk/" target="_self">Cambridge Bio Medical Research Centre</a><br><a class="nav-link footer" href="http://www.medschl.cam.ac.uk/" target="_self">School of Clinical Medicine</a><br><a class="nav-link footer" href="http://www.cuh.org.uk/cms/research-and-development" target="_self">C.U.H. Research and Development</a></div>
    </div>
  </div>
</html>
