<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Cambridge CTU Clinical Trials</title>
		
	<link rel="shortcut icon" href="www.genetium.com/favicon2.ico"> 
		
    <link rel="stylesheet" type="text/css" href="css/login.css">
	  <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, print"/>

    <link rel="stylesheet" type="text/css" href="css/wf.css">
    <link rel="stylesheet" type="text/css" href="css/genetium.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">

     <link rel="stylesheet" type="text/css" href="css/demo.css">
		<link rel="stylesheet" type="text/css" href="css/common.css">
        <link rel="stylesheet" type="text/css" href="css/style2.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css' >
		<script type="text/javascript" src="js/modernizr.custom.79639.js"></script> 
		<!--[if lte IE 8]><style>.main{display:none;} .support-note .note-ie{display:block;}</style><![endif]-->
   
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css' />
	
		<script type="text/javascript" src="js/modernizr.custom.79639.js"></script> 
      <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Montserrat:400,700","Bitter:400,700"]
        }
      });
    </script>
	</head>
	<body>
		<div id="preloader">
	<div id="status">&nbsp;</div>
</div>

		<header>
<div class="row"> 
        <div class="col-lg-1 col-xs-12">

 <center><a href="/cctu-clinical-trials"><img src="images/logoctu.jpg" alt="CCTU logo" width="100"></a></center>
</div>         <div class="col-lg-9 col-xs-12">
<p class="app-name"> Cambridge Clinical Trials Unit</p>
</div> 
                  <div class="col-lg-2 col-xs-12">

          <center><img src="images/nhs.jpg" alt="NHS logo" width="290" height="50">
        </center></div>
       

        </div> 
  </header>

<div id="preloader">
  <div id="status">&nbsp;</div>
</div>


  <!-- Static navbar -->
      <div class="navbar navbar-default" style="margin-bottom:0px; background-color:#fff" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/services">Our services</a></li>
              <li><a href="/contact">Contact</a></li>
                           <li><a href="/CCTU-portfolio">Trials Portfolio</a></li>

             
              <li class="dropdown">
                <a href="./Navbar Template for Bootstrap_files/Navbar Template for Bootstrap.html" class="dropdown-toggle" data-toggle="dropdown">Trials Themes<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/cctu-clinical-trials/#cardiovascular">Cardiovascular</a></li>
                  <li><a href="/cctu-clinical-trials/#cancer">Cancer</a></li>
                  <li><a href="/cctu-clinical-trials/#Paediatrics">Paediatrics</a></li>
                  <li><a href="/cctu-clinical-trials/#surgery">Surgery</a></li>
                  <li><a href="./cctu-clinical-trials/#other">Other</a></li>
                </ul>
              </li>
            </ul>
           
          </div><!--/.nav-collapse -->

        </div><!--/.container-fluid -->
      </div> 
          


  </header>



<div class="section rest_content">



			<br><br>
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1">
							<div class="ch-info">
								<a href="/erica"><h3>ERICA Study</h3></a>
								<a href="/erica"><h3>Click to Access</h3></p>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-2">
							<div class="ch-info">
								<a href="/earnest"><h3>EARNEST Study</h3></a>
								<a href="/earnest"><h3>Click to Access</h3></p>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-3">
							<div class="ch-info">
							<!-- 	<a href="http://drbl.in/eNXY"><h3>Evolution Trial</h3></a>
								<a <a href="http://drbl.in/eNXY"><p>Click to Access </a> --><a href="self">Click to Access</a></p>
							</div>
						</div>
					</li>
				</ul>
				
			</section>
<br><br><br>
			
        </div>
			
	
       <div class="section footer">
		  <div class="w-container">
      <p class="footer-text">All rights reserved, Cambridge Clinical Trials Unit, 2014</p>
     
      
    </div>
  </div>
<!-- jQuery Plugin -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>

<!-- Preloader -->
<script type="text/javascript">
	//<![CDATA[
		$(window).load(function() { // makes sure the whole site is loaded
			$('#status').fadeOut(); // will first fade out the loading animation
			$('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
			$('body').delay(350).css({'overflow':'visible'});
		})
	//]]>
</script> 
	</body>
</html>