<div class="section hero rest_content">


      <div class="w-row">
        <div class="w-col w-col-6 call-to-action">
<img style = "padding-top: 70px" class="hero-iphone" src="images/dna2.gif" align="center" width="250px" height="250px" alt="Dna Image">
        </div>
        <div class="w-col w-col-6 call-to-action">
         <center> <h1 class="hero-header">Our Mission</h1></center>
          <p class="hero-subtitle"> Work with researchers to conduct the highest quality clinical research, addressing important questions relating to human health and disease. <br> <br>Cambridge Clinical Trials Unit has been awarded full registration by the UKCRC CTU network.  We collaborate with Trials Teams to conduct 37 active Trials/Studies, which includes 26 CTIMPs, 10 Non CTIMPs as well as supporting 1 device trial. <a href="http://www.cuh.org.uk/node/148">Learn More...</a></p>

        </div>
      </div>
    </div>
  </div>
 
    <div class="w-container" id="page-nav-services">
      <div class="w-row organize-row">
        <div class="w-col w-col-6">
        
<center><h2 class="hero-header">Services</h2></center>
          <p class="hero-subtitle">
            We deliver world class clinical trials of all phases in all aspects: from grant proposals, study design, developing protocols, obtaining necessary approvals, quality control, data management, trial conduct and management, final analysis, to reporting of outcomes and publications. <a href="http://www.cuh.org.uk/news/cambridge-clinical-trials-unit-cctu/collaboration-request-proforma">Collaboration Request proforma </a> or <a href="http://www.cuh.org.uk/research-and-development/contacts/contact-cambridge-clinical-trials-unit-cctu"> Contact Us.</a>

            </p>
        </div>
        <div class="w-col w-col-6">
          <a href="http://www.cuh.org.uk/research-and-development/clinical-trials/cambridge-clinical-trials-unit-cctu"><img class="shared-images grayscale img-circle" src="images/share_home_image.jpg" width="445px" height="300px" alt="CCTU services"></a>
        </div>
      </div>
    </div>

  <div class="section grey" >
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 center">
          <img style ="padding-top:40px" src="images/medical.gif" height="300" alt="Logo Genetium">
        </div>
        <div class="w-col w-col-6" id="page-nav-communicate">
         <center> <h2 class="hero-header"> Impact</h2></center>
          <p class="hero-subtitle"> CCTU is providing the means to pioneering research and innovation in Cambridge through the design and implementation of state of the art clinical trials.<Br> <a href="http://www.cuh.org.uk/news/cambridge-clinical-trials-unit-cctu/2013-quality-indicators-for-cctu">Learn more...</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="section" id="page-nav-access">
    <div class="w-container">
      <div class="w-row organize-row">
        <div class="w-col w-col-6" id="page-nav-learn">

         <a href="loginCTU.html"> <h2 class="hero-header">Therapeutic Areas </h2></a>
          <p class="hero-subtitle"> Click on the lock image or login button and use your member login to access the restricted information for research staff regarding the trial.

            </p>
        </div>

        <div class="w-col w-col-6">
          <br>
          <a href="/login"><img class="shared-images grayscale" src="images/access.png" width="294px" alt="social.jpg"></a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="section-red">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-8">
          <h3 class="price-text">Get it now for free on the app store!</h3>
        </div>
        <div class="w-col w-col-4">
          <a class="w-inline-block button app-store" href="http://bit.ly/Genetium_Cardiology" target="_blank">
            <img src="images/e1883a6e-39ff-4eac-9277-66fd8ede46ad_2-btn-appstore.png" width="114px" alt="e1883a6e-39ff-4eac-9277-66fd8ede46ad_2-btn-appstore.png">
          </a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="section subfooter white" id="page-nav-access">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6 left-column">


 <div class="w-col w-col-12">
 <h3>CCTU Clinical Trials</h3>
          <a class="login-button" clearfix
          href="/cctu-clinical-trials" target="_self">

            <button type="button" class="btn btn-info btn-lg">Open</button>

          </a>



        </div>
         <!--  <h3>Send us your feedback</h3><a class="blog-link" href="mailto:alouisos@genetium.com" target="_blank">alouisos@genetium.com</a> -->
        </div>
        <div class="w-col w-col-6 subfooter-right">
          <h3>Contact us</h3>
          <a class="w-inline-block social-button" href="mailto:cctu@addenbrookes.nhs.uk" target="_blank">
            <img src="images/0ebbdb2f-7fb6-4c01-9b1f-b90f5b675dbf_7a-social-email.png" width="21px" alt="0ebbdb2f-7fb6-4c01-9b1f-b90f5b675dbf_7a-social-email.png">
          </a>
          <a class="w-inline-block social-button" href="http://www.facebook.com/CambridgeUniversityHospitals" target="_blank">
            <img src="images/6178b192-94cd-448f-9c5c-c55385ff9286_7b-social-facebook.png" width="21px" alt="6178b192-94cd-448f-9c5c-c55385ff9286_7b-social-facebook.png">
          </a>
          <a class="w-inline-block social-button" href="https://twitter.com/CUH_NHS" target="_blank">
            <img src="images/21750886-ef6f-461c-86de-ddae6dd582aa_7c-social-twitter.png" width="21px" alt="21750886-ef6f-461c-86de-ddae6dd582aa_7c-social-twitter.png">
          </a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="section grey footer">
    <div class="w-container">
      <p class="footer-text">All rights reserved, Cambridge Clinical Trials Unit, 2014</p>
     
       <div class="w-col w-col-12 w-clearfix nav-column footer"><a class="nav-link footer" href="http://www.nihr.ac.uk/Pages/default.aspx" target="_self">N.I.H. Research</a><br><a class="nav-link footer" href="http://www.cambridge-brc.org.uk/" target="_self">Cambridge Bio Medical Research Centre</a><br><a class="nav-link footer" href="http://www.medschl.cam.ac.uk/" target="_self">School of Clinical Medicine</a><br><a class="nav-link footer" href="http://www.cuh.org.uk/cms/research-and-development" target="_self">C.U.H. Research and Development</a></div>
    </div>
  </div>

