<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ERICA Study, Stratification of COPD patients. </title>
      <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/wf.css">
    <link rel="stylesheet" type="text/css" href="css/genetium.css">
        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, print"/>
     <script type="text/javascript" src="js/wf.js" defer></script>

    <link rel="stylesheet" type="text/css" href="css/login.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- use jssor.slider.mini.js (39KB) or jssor.sliderc.mini.js (31KB, with caption, no slideshow) or jssor.sliders.mini.js (26KB, no caption, no slideshow) instead for release -->
    <!-- jssor.slider.mini.js = jssor.sliderc.mini.js = jssor.sliders.mini.js = (jssor.core.js + jssor.utils.js + jssor.slider.js) -->
  
                <header style="padding-bottom : 20px;">

    <div class="w-container">
      <div class="w-row" id="header">
        <div class="w-col w-col-4 subfooter-left">
<a href="/"><img class="logo-in-header" style="padding-top:40px;" src="images/logoctu.jpg" alt="CUH NHS logo" width="100">
        </div>
       <br><div class="w-col w-col-8 w-clearfix nav-column"> <a class="login-button" clearfix href="http://131.111.86.195:3000/login-earnest" target="_self">

            <button type="button" class="btn btn-info btn-lg">Login</button>

          </a>
 <img src="images/earnest-logo.jpg" alt="Erica logo" width="50">
        
      </div>
    </div>
</div>


  </header>
<hr>
<body style="padding: 10; margin: 0; font-family: Helvetica Neue; background-color: #fff;">
  
 
     

 <div class="w-container" id="page-nav-services">
      <div class="w-row organize-row">
        <div class="w-col w-col-12">
        
       <center><h2 class="app-name3" id="erica-study" style="padding-top:5px"> THE EARNEST CLINICAL TRIAL </h2></center><br><br>
          <p class="hero-subtitle2">
          Prior research in patients with kidney disease, even when this is mild, shows that they are at increased risk of heart disease and strokes. The reasons for this are not clear. It may be because kidney disease causes stiffening of the arteries in the body which means that the heart and brain can be damaged by high blood pressure. Despite this, all studies following kidney donors have shown their life expectancy appears to be the same or even better than that of the general population. We want to study patients before and after the removal of a kidney for transplantation to examine whether or not this might be associated with slight change in blood pressure. In addition, we also want to compare these changes to people who have not donated a kidney.  <br><br>

           <div class="w-col w-col-12">
        <center><img class="shared-images grayscale" src="images/earnest-home-image.jpg" width="300px" height="400px" alt="Earnest home image"></center>
        </div>

         

<center><div class="w-col w-col-12"> <a class="login-button" clearfix href="#header" target="_self">

            <button type="button" class="btn btn-info btn-lg">Back to Top</button></div> </center>

          </a>

  
</div> </div> </div> 
</body>


 <div class="section footer">
          <div class="w-container">
      <p class="footer-text">All rights reserved, Cambridge Clinical Trials Unit, 2014</p>
     
      
    </div>
  </div>
</html>
