<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>EARNEST Clinical Trial </title>
      <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/wf.css">
    <link rel="stylesheet" type="text/css" href="css/genetium.css">
        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, print"/>

    <link rel="stylesheet" type="text/css" href="css/login.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">
   
     <script type="text/javascript" src="js/wf.js" defer></script>
</head>

                <header style="padding-bottom : 20px;">

    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 subfooter-left">
          <a href="/"><img class="logo-in-header" src="images/nhs.jpg" alt="CUH NHS logo" width="290">
          <div class="app-name">Clinical Trials Unit</div></a>
        </div>
       <br><div class="w-col w-col-8 w-clearfix nav-column"> <a class="login-button" clearfix href="/logout-earnest" target="_self">

            <button type="button" class="btn btn-info btn-lg">Logout</button>

          </a>
 <img src="images/earnest-logo.jpg" alt="Erica logo" width="50">
        
      </div>
    </div>
</div>


  </header>

<body>
    <!-- it works the same with all jquery version from 1.x to 2.x -->
  
  

 <div class="w-container" id="page-nav-services">
      <div class="w-row organize-row">
        <div class="w-col w-col-6">
        
       <center><h2 class="hero-header3" id="erica-study">  CORE SITE DOCUMENTS </h2>
          <p class="hero-subtitle3">
             <a href="earnest-docs/earnest-1st-visit-CRF-core.pdf"> First Visit Form </a><br>

            <a href="earnest-docs/earnest-2nd-visit-CRF.pdf"> Second Visit Form </a><br>
           
 

        </p></center></div> 

           <div class="w-col w-col-6">
              <center><h2 class="hero-header3" id="erica-study">  NON CORE SITE DOCUMENTS </h2>
          <p class="hero-subtitle3">
             <a href="earnest-docs/earnest-1st-visit-non-core.pdf"> First Visit Form
            </a><br>
           
 <a href="earnest-docs/earnest-2nd-visit-non-core.pdf"> Second Visit Form 

            </a><br>

        </p></center></div> 


         <div class="w-container" id="page-nav-services">
      <div class="w-row organize-row">
        <div class="w-col w-col-6">
        
       <center><h2 class="hero-header3" id="erica-study">  NEWSLETTERS</h2>
          <p class="hero-subtitle3">

            <a href="earnest-docs/earnest-newsletter-april-2014.pdf"> Newsletter April 2014 </a><br>
           
 

        </p></center></div> 

           <div class="w-col w-col-6">
              <center><h2 class="hero-header3" id="erica-study">  TRIAL MANAGEMENT DOCUMENTS </h2>
          <p class="hero-subtitle3">
         <a href="earnest-docs/earnest-pid-form.pdf"> PID Collection Form</a><br>
            </a>
           
 <a href="earnest-docs/earnest-trial-procedures-manual.pdf"> Trial Procedures Manual
            </a><br>
            </a><br>

        </p></center></div> 
        
        
           <div class="w-col w-col-12">
                      <br>    <center><h2 class="hero-header3" id="erica-study">  ACCESS STUDY DATABASES</h2>

              <br>   <a href="http://131.111.94.51/OpenClinica/pages/login/login"> <center><p class="hero-subtitle3"> Open Clinica Live Server</p></center></a>
                        <center>  <a href="http://131.111.94.55/OpenClinica/pages/login/login" > 
                          <p class="hero-subtitle3"> Open Clinica Test Server</p></center></a>

         <hr></div> 
  <div class="w-col w-col-12">
            <center><h2 class="hero-header3" id="erica-study"> DATA MANAGEMENT DOCUMENTS </h2>
          <p class="hero-subtitle3">
            
           
 <a href="earnest-docs/earnest-open-clinica-manual.pdf"> Earnest Open Clinica Manual 

            </a><br>

        </p></center></div> 
          <p class="hero-subtitle3">
</p></div> 

</div> 

   <div class="section footer">
          <div class="w-container">
      <p class="footer-text">All rights reserved, Cambridge Clinical Trials Unit, 2014</p>
     
      
    </div>
  </div>

</body>
</html>
