<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ERICA Study, Stratification of COPD patients. </title>
      <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/wf.css">
    <link rel="stylesheet" type="text/css" href="css/genetium.css">
        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, print"/>

    <link rel="stylesheet" type="text/css" href="css/login.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">
   
     <script type="text/javascript" src="js/wf.js" defer></script>
</head>

                <header style="padding-bottom : 20px;">

    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4 subfooter-left">
          <a href="/"><img class="logo-in-header" src="images/nhs.jpg" alt="CUH NHS logo" width="290">
          <div class="app-name">Clinical Trials Unit</div></a>
        </div>
       <br><div class="w-col w-col-8 w-clearfix nav-column"> <a class="login-button" clearfix href="/logout" target="_self">

            <button type="button" class="btn btn-info btn-lg">Logout</button>

          </a>
 <img src="images/erica-logo.jpg" alt="Erica logo" width="50">
        
      </div>
    </div>
</div>


  </header>

<body>
    <!-- it works the same with all jquery version from 1.x to 2.x -->
  
  

 <div class="w-container" id="page-nav-services">
      <div class="w-row organize-row">
        <div class="w-col w-col-6">
        
       <center><h2 class="hero-header2" id="erica-study"> Trial Documents </h2>
          <p class="hero-subtitle2">
         <a href="erica-files/erica-patient-questionnaire.pdf"> Patient Questionnaire </a><br>
             <a href="erica-files/erica-follow-up-questionnaire.pdf"> Follow up Questionnaire </a><br>

            <a href="erica-files/erica-consent.pdf"> Consent Form </a><br>
            <a href="erica-files/erica-protocol.pdf"> Protocol</a><br>
            <a href="erica-files/erica-source-data-worksheet.pdf"> Source Data Worksheet</a><br>
             <a href="erica-files/mrc-dyspnoea-score.pdf"> MRC dyspnoea score</a><br>
               <a href="erica-files/cat-test.pdf"> COPD Assessment Test</a><br>
            <a href="erica-files/saint-george-resp-quest.pdf"> St George Respiratory Questionnaire</a><br>
            <a href="erica-files/recruit-ad.pdf"> Patient Recruitment Flyer</a><br>

 

        </p></center></div> 

           <div class="w-col w-col-6">
              <center><h2 class="hero-header2" id="erica-study"> Newsletters </h2>
          <p class="hero-subtitle2">
             <a href="erica-files/erica-newsletter-october-2012.pdf"> October 2012 Newsletter
            </a><br>
           
 <a href="erica-files/erica-newsletter-january-2013.pdf"> January 2013 Newsletter

            </a><br>
 <a href="erica-files/erica-newsletter-may-2013.pdf"> May 2013 Newsletter
            </a><br>

        </p></center></div> 
        
           <div class="w-col w-col-12">
             <a href="https://macro.infermed.com/macro4cuh/Login/LoginForm.aspx?IsUniInstance=true"> <center><hr><h2 class="hero-header2"> Access Macro Live Server</h2></center></a>
                       <!--  <center>  <a href="http://131.111.94.55/OpenClinica/pages/login/login"  <hr><h2 class="hero-header2"> Access Open Clinica Test Server</h2></center></a> -->

          <p class="hero-subtitle2">
</p></div> 

           <div class="w-col w-col-12">

                <div class="w-col w-col-12">
      <hr>  <center><img class="shared-images" src="images/erica-recruit.jpg" width="600px" height="400px" alt="CCTU services"></center>
        </div>
          <p class="hero-subtitle2">
</p></div> 

</div> 

   <div class="section footer">
          <div class="w-container">
      <p class="footer-text">All rights reserved, Cambridge Clinical Trials Unit, 2014</p>
     
      
    </div>
  </div>

</body>
</html>
