<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>RESCUE ASDH Study, Stratification of COPD patients. </title>
      <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/wf.css">
    <link rel="stylesheet" type="text/css" href="css/genetium.css">
        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, print"/>
     <script type="text/javascript" src="js/wf.js" defer></script>

    <link rel="stylesheet" type="text/css" href="css/login.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- use jssor.slider.mini.js (39KB) or jssor.sliderc.mini.js (31KB, with caption, no slideshow) or jssor.sliders.mini.js (26KB, no caption, no slideshow) instead for release -->
    <!-- jssor.slider.mini.js = jssor.sliderc.mini.js = jssor.sliders.mini.js = (jssor.core.js + jssor.utils.js + jssor.slider.js) -->
  
                <header style="padding-bottom : 20px;">

    <div class="w-container">
      <div class="w-row" id="header">
        <div class="w-col w-col-4 subfooter-left">
          <a href="/"><img class="logo-in-header" style="padding-top:40px;" src="images/logoctu.jpg" alt="CUH NHS logo" width="100">
        </div>
  <!--         <a href="/"><img class="logo-in-header" src="images/nhs.jpg" alt="CUH NHS logo" width="290">
          <div class="app-name">Cambridge Clinical Trials Unit</div></a> -->
        
       <br><div class="w-col w-col-8 w-clearfix nav-column"> <a class="login-button" clearfix href="/login-rescue-asdh" target="_self">

            <button type="button" class="btn btn-info btn-lg">Login</button>

          </a>
<!--  <img src="images/rescue.jpg" alt="RESCUE ASDH logo" width="100" height="50">
 -->        
      </div>
    </div>
</div>

<hr>
  </header>


<body>
  
 
     
           <div class="w-col w-col-12">
        <center><img class="shared-images" src="images/rescue-asdh-logo.jpg" width="274" height="200" alt="Rescue-ASDH Logo image"></center>
        </div>

 <div class="w-container" id="page-nav-services">
      <div class="w-row organize-row">
        <div class="w-col w-col-12">
<script> 
function blinker() {
    $('.blink_me').fadeOut(5000);
    $('.blink_me').fadeIn(5000);

}

setInterval(blinker, 10000); //Runs every second
</script>
       
                         <center><p class="app-name3 blink_me" id="erica-study">  This is an international trial and new centres are welcome to take part in the study.<br> Please contact us at <a href="mailto:info@rescueasdh.org"> info@rescueasdh.org</a> for further details.  </hp></center>
<center><p class="app-name3" id="erica-study"> RESCUE ASDH </p></center>
         <center><h4 class="app-name"> Randomised Evaluation of Surgery with Craniectomy for<br>patients  Undergoing Evacuation of Acute Subdural Haematoma </h4></center>

         <p class="hero-subtitle"> <br>
            The purpose of the study is to perform a multi-centre, pragmatic, parallel group randomised trial in order to compare the clinical and cost-effectiveness of decompressive craniectomy versus craniotomy for the management of adult head-injured patients undergoing evacuation of an acute subdural haematoma (ASDH).<br><br>
            The primary objective of the trial is to detect an 8% absolute difference in the rate of favourable outcome at 1 year between decompressive craniectomy (43%) and craniotomy (35%) with a power of 90% and a 2-sided significance of 5%. This corresponds to an 8% treatment effect.<br><br>
            There is currently no high-quality evidence guiding surgeons as to which operation they should be offering as first line treatment to patients with ASDH. The results of a high-quality study will be used to inform future NICE head injury guidelines and the practice of neurosurgeons in the NHS and worldwide.<br><br>
            The two health technologies we wish to assess are the two most widely used surgical techniques for the evacuation of an ASDH: craniotomy and decompressive craniectomy (DC). The difference between these 2 procedures is that a bone flap is left out prior to closing the skin in the DC. The advantage of a DC is that it is effective in controlling brain swelling which is often a problem in the days after the operation. When the swelling goes down, the patient has another operation to reconstruct the skull (cranioplasty). The advantage of a craniotomy is that the patient will not need a later operation to rebuild the skull. However, it may fail to control brain swelling in some patients.
<br><br>
Five-year pilot data from a NHS neurosurgical unit (Cambridge) show that 56% of patients with ASDH were treated with a DC [2]. In this retrospective cohort comparison study, 91 patients had an operation for an ASDH. The standardised morbidity ratio was lower in individuals who received DC (0.75; 95% CI 0.51–1.07) than in those treated with a craniotomy (0.90; 95% CI 0.57–1.35). Although the standardised morbidity ratio 95% confidence intervals overlap, this study lends support to the hypothesis that DC may lead to better functional outcomes in comparison to craniotomy for adult head-injured patients with ASDH.




         

<center><div class="w-col w-col-12"> <a class="login-button" clearfix href="#header" target="_self">

            <button type="button" class="btn btn-info btn-lg">Back to Top</button></div> </center>

          </a>

  
</div> </div> </div> 
</body>


 <div class="section footer">
          <div class="w-container">
      <p class="footer-text">All rights reserved, Cambridge Clinical Trials Unit, 2014</p>
     
      
    </div>
  </div>
</html>
