<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>RESCUE ASDH Study, Stratification of COPD patients. </title>
      <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/wf.css">
    <link rel="stylesheet" type="text/css" href="css/genetium.css">
        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, print"/>
     <script type="text/javascript" src="js/wf.js" defer></script>

    <link rel="stylesheet" type="text/css" href="css/login.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- use jssor.slider.mini.js (39KB) or jssor.sliderc.mini.js (31KB, with caption, no slideshow) or jssor.sliders.mini.js (26KB, no caption, no slideshow) instead for release -->
    <!-- jssor.slider.mini.js = jssor.sliderc.mini.js = jssor.sliders.mini.js = (jssor.core.js + jssor.utils.js + jssor.slider.js) -->
  
                <header style="padding-bottom : 20px;">

    <div class="w-container">
      <div class="w-row" id="header">
        <div class="w-col w-col-4 subfooter-left">
          <a href="/"><img class="logo-in-header" src="images/nhs.jpg" alt="CUH NHS logo" width="290">
          <div class="app-name">Clinical Trials Unit</div></a>
        </div>
       <br><div class="w-col w-col-8 w-clearfix nav-column"> <a class="login-button" clearfix href="/rescue-asdh" target="_self">

            <button type="button" class="btn btn-info btn-lg">Logout</button>

          </a>
 <img src="images/rescue.jpg" alt="RESCUE ASDH logo" width="100" height="50">
        
      </div>
    </div>
</div>


  </header>

<body style="padding: 10; margin: 0; font-family: Montserrat, sans-serif; background-color: #fff;">
  
 
  


           <div class="w-col w-col-12">
        <center><img class="shared-images grayscale" src="images/rescue.jpg" width="400px" height="200px" alt="Rescue-ASDH Logo image"></center>
        </div>

         

<center><div class="w-col w-col-12"> <a class="login-button" clearfix href="#header" target="_self">

            <button type="button" class="btn btn-info btn-lg">Back to Top</button></div> </center>

          </a>

  
</div> </div> </div> 
</body>


 <div class="section footer">
          <div class="w-container">
      <p class="footer-text">All rights reserved, Cambridge Clinical Trials Unit, 2014</p>
     
      
    </div>
  </div>
</html>
