<!DOCTYPE html>
<!-- Hey my name is Alex Louizos.  I love people taking a curious look into things. If you are like me and like making things possible you should join our team and help us fulfill our mission of using technology to save lives. Contact me at alouisos@gmail.com  Ps: if you keep searching the code you may be able to find more easter eggs...well, instead of keep searching it why don't you come with us to change the world?-->
<html>
  <head>
    <meta charset="utf-8">
    <title>Cambridge Clinical Trials Unit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/wf.css">
    <link rel="stylesheet" type="text/css" href="css/genetium.css">
<link type="text/css" rel="stylesheet" href="css/rickshaw.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
<script src="js/d3.layout.js"></script>
<script src="js/rickshaw.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/responsiveslides.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js" type="text/javascript"></script>


        <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen, print"/>
 <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/responsiveslides.min.js"></script>

  
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/navbar/navbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/login.css">
     <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Montserrat:400,700","Bitter:400,700"]
        }
      });
    </script>
    <link rel="icon" type="image/x-icon" href="http://www.genetium.com/favicon2.ico">
    <link rel="apple-touch-icon" href="https://y7v4p6k4.ssl.hwcdn.net/51d1bb05fc804b2621000001/51e06f0756878bb26a000008_webclip-slate.png">
    <script type="text/javascript" src="js/wf.js" defer></script>
  </head>

  <body>

  <header>
<div class="row"> 
        <div class="col-lg-1 col-xs-12">

 <center><a href="/"><img src="images/logoctu.jpg" alt="CCTU logo" width="100"></a></center>
</div>         <div class="col-lg-9 col-xs-12">
<p class="app-name2"> Cambridge Clinical Trials Unit</p>
</div> 
                  <div class="col-lg-2 col-xs-12">

          <center><img src="images/nhs.jpg" alt="NHS logo" width="290" height="50">
        </center></div>
       

        </div> 
  </header>

<div id="preloader">
  <div id="status">&nbsp;</div>
</div>


  <!-- Static navbar -->
      <div class="navbar navbar-default" style="margin-bottom:0px; background-color:#fff" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/services">Our services</a></li>
              <li><a href="/contact">Contact</a></li>
               <li><a href="/cctu-news">News</a></li>
<!--                            <li><a href="/CCTU-portfolio">Trials Portfolio</a></li>
 -->
             
              <li class="dropdown">
                <a href="./Navbar Template for Bootstrap_files/Navbar Template for Bootstrap.html" class="dropdown-toggle" data-toggle="dropdown">Trials Themes<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/cctu-cardio">Cardiovascular</a></li>
                  <li><a href="/cctu-cancer">Cancer</a></li>
                  <li><a href="/cctu-paediatrics">Paediatrics</a></li>
                  <li><a href="/cctu-surgery">Surgery</a></li>
                   <li><a href="/cctu-vasculitis">Vasculitis</a></li>

                  <li><a href="/cctu-other">Other</a></li>

                </ul>
              </li>
              
            </ul>
               <ul class="nav navbar-nav navbar-right">
        

      <li>  <div class="boutoni"><button type="button" class="btn btn-info btn-lg boutoni">UKCRC Registered since 2012&nbsp;</button></li>

                </ul>
          </div><!--/.nav-collapse -->

        </div><!--/.container-fluid -->
      </div> 
          
          <div class="row"> 

                            <div class="col-lg-8 col-xs-12 section col-lg-offset-2">
 <p class="hero-subtitle">We are able to offer a broad range of support for investigators undertaking clinical research, including trial set-up, conduct, analysis and completion. We strongly encourage Investigators planning research to contact the CCTU at the outset for assistance and guidance in costing grant applications.<br> <br> 

Staff employed by the unit work across a range of research projects, such as trial coordinators, data managers, statisticians, health economists, quality assurance managers, and monitors. Investigators using CCTU have access to MACRO and Open Clinical for the development of trial databases.
</p> 
<br> 
<p class="app-name2"> Working with the CCTU – timelines for grant submissions</p> 

 <p class="hero-subtitle">
We offer support and guidance to all investigators wishing to collaborate with the CCTU in the set-up and conduct of a reseach project. If you wish to work in collaboration with the CCTU please complete the CCTU Collaboration Proforma<br>

 <div class="boutoni"><a href="http://cctu.medschl.cam.ac.uk/cctu-proforma.docx"><button type="button" class="btn btn-info btn-lg boutoni">Download Request Proforma&nbsp;<span class="glyphicon glyphicon-cloud-download"></span></button></a></div> <br>  
 <p class="hero-subtitle">

The CCTU should be contacted at the earliest opportunity to discuss suitable involvement and collaboration with the proposed research project. This is specifically important if the project involves a drug trial (CTIMP) which falls under the UK regulations of clinical trials, where the Cambridge University Hospital/University of Cambridge will take up sponsorship.<br> 
<br> 
Ideally, the CCTU should be contacted 6 weeks prior to any grant submission and preparation of grant budgets. This is important to ensure that all required CCTU involvement is correctly considered. Therefore, it is essential to include sufficient resource for CCTU activity when applying for grant funding support. In addition, the CCTU should be part of the application in terms of study design and statistics. It is important to note that the CCTU only provide CCTU costs.
<br> <br> 
The CCTU then require a minimum of 3 weeks to liaise with investigators and to accurately cost CCTU involvement in any research proposals prior to the grant/funding application being submitted.  However, we strongly recommend that investigators approach the CCTU during the concept stage of the proposal to ensure that the design of the research is as robust as possible prior to any costing being undertaken. 
<br> <br> 
Unfortunately, the CCTU cannot guarantee to support a research project where the research proposal has been funded and the CCTU was not included in the grant. The CCTU will however review each case individually to see if and where support can be provided in these circumstances.<br> 
</p> 
<br> 
<p class="app-name2"> Set up Stages and during the trial </p> 

<ul class="hero-subtitle2"> 
<li  class="hero-subtitle3">  Standard operating procedures (SOPs) and templates, forms
</li> 
<li  class="hero-subtitle3"> IMP management </li> 
<li class="hero-subtitle3"> Case report form and data capture (CRF, eCRF)</li> 
<li class="hero-subtitle3">  Obtaining randomisation service</li> 
<li class="hero-subtitle3"> Database set-up and  validation</li> 
<li class="hero-subtitle3"> Data management (data entry, data cleaning, data queries)</li> 
<li class="hero-subtitle3"> Quality assurance: monitoring, GCP compliance (CTIMPS)</li> 
<li class="hero-subtitle3"> Pharmacovigilance: eSUSAR; adverse event log; reporting (CTIMPS)</li> 
<li class="hero-subtitle3"> Statistical Services (statistical analysis, advice and reports)</li> 
<li class="hero-subtitle3"> Protocol amendments/ substantial and non-substantial amendments</li> </ul> 

<br> 
<p class="app-name2"> Support in planning stages </p> 

<ul class="hero-subtitle2"> 
<li class="hero-subtitle3"> Protocol development: trial design and statistical advice – optimising statistical efficiency within constraints of cost, time and resources; providing robustness and learning through interim analyses/adaptive designs. </li> 
<li class="hero-subtitle3"> Development of data capture, data base and data management.</li> 
<li class="hero-subtitle3">  Detailed advice on research ethics, MHRA and research governance requirement; review of all applications (CTIMPS)</li> 


<div class="boutoni"><a href="/contact"><button type="button" class="btn btn-info btn-lg boutoni"><span class="glyphicon glyphicon-phone"></span>&nbsp;Contact us for more info</button></a></div> <br>  
<div class="boutoni"><a href="/"><button type="button" class="btn btn-info btn-lg boutoni"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back to Homepage</button></a></div>
</div> 
<br> 

</div> </div> 

<div class="row">
                              <div class="col-lg-12 col-xs-12 section">

<img src="images/ctu-support.jpg" alt="CCTU support word cloud" width="600" height="400" style="display:block; margin-left:auto; margin-right: auto" class="img-rounded"><br> 
</div> 

<!-- Preloader -->
<script type="text/javascript">
  //<![CDATA[
    $(window).load(function() { // makes sure the whole site is loaded
      $('#status').fadeOut(); // will first fade out the loading animation
      $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website.
      $('body').delay(350).css({'overflow':'visible'});
    })
  //]]>
</script> 


</body>
<div class="section grey footer">
    <div class="w-container">
      <p class="footer-text">All rights reserved, Cambridge Clinical Trials Unit, 2014</p>
     
       <div class="w-col w-col-12 w-clearfix nav-column footer"><a class="nav-link footer" href="http://www.nihr.ac.uk/Pages/default.aspx" target="_self">N.I.H. Research</a><br><a class="nav-link footer" href="http://www.cambridge-brc.org.uk/" target="_self">Cambridge Bio Medical Research Centre</a><br><a class="nav-link footer" href="http://www.medschl.cam.ac.uk/" target="_self">School of Clinical Medicine</a><br><a class="nav-link footer" href="http://www.cuh.org.uk/cms/research-and-development" target="_self">C.U.H. Research and Development</a></div>
    </div>
  </div>
</html>