<section data-ng-controller="FollowupsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Followups</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="followup in followups" data-ng-href="#!/followups/{{followup._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="followup.followupTrial | date:'medium'"></span>
				by
				<span data-ng-bind="followup.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="followup.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!followups.$resolved || followups.length">
    	No Followups yet, why don't you <a href="/#!/followups/create">create one</a>?
    </div>
</section>